<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <title>RIG</title>
</head>
<body>
    <div id="app">
        <div id="nav">
            <div id="menu">
                <i class="fa-solid fa-bars"></i>
                <button @click="pageContent = 'settings'">Rig Settings</button>
                <button @click="pageContent = 'data'">Data</button>
            </div>
            <div id="rig_status">
                <p :class="{ 'colorGreen': rigActive, 'colorRed': !rigActive }">{{ statusText }}</p>
                <i class="fa-regular fa-spinner" :class="{ 'fa-spin': rigActive, 'colorGray': !rigActive }"></i>
            </div>
        </div>
        <div id="rig_control">
            <div id="change_status">
                <button :class="{ 'backColorGreen': !rigActive, 'tempColorGray': tempColorGray }"  @click="startRig" v-if="rigActive == false">Start</button>
                <button class="backColorRed" @click="stopRig" v-if="rigActive == true">Stop</button>
            </div>
            <div id="startTime">
                <span>Start Time:</span>
                <span>{{ startTime }}</span>
            </div>
        </div>
        <div v-if="pageContent == 'settings'" id="settings_container">
            <h1>Rig Settings</h1>
            <div class="settings_box">
                <h3>Image</h3>
                <div class="settings">
                    <label for="img_freq">Frequence</label>
                    <input v-model="imageSettings.frequence" name="img_freq" type="number">
                    <label for="img_frame">Framerate</label>
                    <input v-model="imageSettings.framerate" name="img_frame" type="number">
                    <label for="img_x">Image x</label>
                    <input v-model="imageSettings.size_x"  name="img_x" type="number">
                    <label for="img_y">Image y</label>
                    <input v-model="imageSettings.size_y" name="img_y" type="number">
                    <label for="img_host">Host</label>
                    <input v-model="imageSettings.host" name="img_host" type="text">
                </div>
            </div>
            <div class="settings_box">
                <h3>Audio</h3>
                <div class="settings">
                    <label for="aud_freq">Frequence</label>
                    <input v-model="audioSettings.frequence" name="aud_freq" type="number">
                    <label for="aud_rate">Sample rate</label>
                    <input v-model="audioSettings.sampleRate" name="aud_rate" type="number">
                    <label for="aud_chunk">Chunk</label>
                    <input v-model="audioSettings.chunk" name="aud_chunk" type="number">
                    <label for="aud_host">Host</label>
                    <input v-model="audioSettings.host" name="aud_host" type="text">
                </div>
            </div>
            <div class="settings_box">
                <h3>GSR</h3>
                <div class="settings">
                    <label for="gsr_freq">Frequence</label>
                    <input v-model="gsrSettings.frequence" name="gsr_freq" type="number" disabled>
                    <label for="gsr_host">Host</label>
                    <input v-model="gsrSettings.host" name="gsr_host" type="text">
                </div>
                <div class="settings">
                    <h3>Connection</h3>
                    <label for="connection_host">Host</label>
                    <input v-model="connectionSettings.host" name="connection_host" type="text">
                </div>
            </div>
            <div id="saveBtn">
                <button @click="saveConfigFile">Save</button>
            </div>
        </div>
        <div id="rig_data_box" v-else-if="pageContent == 'data'">
            <div id="counter">
                <h2>Data Collected:</h2>
                <div class="counter_box images_counter">
                    <span>Images:</span>
                    <span>00</span>
                </div>
                <div class="counter_box audio_counter">
                    <span>Audio:</span>
                    <span>00</span>
                </div>
                <div class="counter_box audio_counter">
                    <span>GSR:</span>
                    <span>00h:00min</span>
                </div>
            </div>
            <div id="data">
                <div class="text_box_1" >
                    <span>Text from audio:</span>
                    <div>
                        <div id="audio_text">
                            <div>
                                <span class="timestamp">Time: 2023.15.11 23:32 - 2023.15.11 23:42</span>
                                <li><span>speaker_0:</span> Fascinating, uh, conversely, what sorts of openers, um, do you think, establish the best rapport and , um , you know , be never .</li>
                                <li><span>speaker_1:</span> And I don't recall ever quote unquote cashing in on any of that . But he was exactly right . When I eventually decided to move institutions , we've given away so much .</li>
                                <li><span>speaker_0:</span> Yes.</li>
                                <li><span>speaker_1:</span> Fascinating , uh , conversely , what sorts of openers , um , do you think , establish the best rapport and , um , you know , be never .</li>
                                <li><span>speaker_0:</span> And I don't recall ever quote unquote cashing in on any of that . But he was exactly right . When I eventually decided to move institutions , we've given away so much .</li>
                                <li class="audio_text_emotion"><span>Text Emotion: </span>Relaxing</li>
                            </div>
                            <div>
                                <span class="timestamp">Time: 2023.15.11 23:42 - 2023.15.11 23:52</span>
                                <li><span>speaker_0:</span> Fascinating , uh , conversely , what sorts of openers , um , do you think , establish the best rapport and , um , you know , be never .</li>
                                <li><span>speaker_1:</span> And I don't recall ever quote unquote cashing in on any of that . But he was exactly right . When I eventually decided to move institutions , we've given away so much .</li>
                                <li><span>speaker_0:</span> Yes.</li>
                                <li><span>speaker_1:</span> Fascinating , uh , conversely , what sorts of openers , um , do you think , establish the best rapport and , um , you know , be never .</li>
                                <li><span>speaker_0:</span> And I don't recall ever quote unquote cashing in on any of that . But he was exactly right . When I eventually decided to move institutions , we've given away so much .</li>
                                <li class="audio_text_emotion"><span>Text Emotion: </span>Stress</li>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text_box_2" >
                    <span>Text from image:</span>
                    <div id="image_text">
                        <li><span>2023.15.11 23:32: </span>Costa</li>
                        <li><span>2023.15.11 23:32: </span>dsda</li>
                        <li><span>2023.15.11 23:32: </span>Hello</li>
                        <li><span>2023.15.11 23:32: </span>Alexa is ...</li>
                    </div>
                </div>
            </div>
            <div id="gsr_box">
                <div id="gsrGraph"></div>
                <div id="gsr_emotions">
                    <div id="history">
                        <li class="current" ><span>Current State</span>Stress State</li>
                        <li>Relaxing State<span>2023.15.11 23:32 - 2023.15.11 23:42</span></li>
                        <li>Stress State<span>2023.15.11 23:32 - 2023.15.11 23:42</span></li>
                        <li>Stress State<span>2023.15.11 23:32 - 2023.15.11 23:42</span></li>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <script type="module" src="./script/index.js"></script>
</body>
</html>