<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <title>RIG</title>
</head>
<body>

    <div id="app">
        <div id="nav">
            <div id="menu">
                <i class="fa-solid fa-bars"></i>
                <button @click="pageContent = 'settings'">Rig Settings</button>
                <button @click="pageContent = 'data'">Data</button>
            </div>
            <div id="rig_status">
                <p :class="{ 'colorGreen': rigActive, 'colorRed': !rigActive }">{{ statusText }}</p>
                <i class="fa-regular fa-spinner" :class="{ 'fa-spin': rigActive, 'colorGray': !rigActive }"></i>
            </div>
        </div>
        <div id="rig_control">
            <div id="change_status">
                <button class="backColorGreen" @click="changeStatus" v-if="rigActive == false">Start</button>
                <button class="backColorRed" @click="changeStatus" v-if="rigActive == true">Stop</button>
            </div>
            <div id="startTime">
                <span>Start Time:</span>
                <span>{{ startTime }}</span>
            </div>
        </div>
        <div v-if="pageContent == 'settings'" class="content">
            <h1>Rig Settings</h1>
            <div class="seting_box">
                <h3>Image:</h3>
                <div class="settings">
                    <label for="">Frequence</label>
                    <input type="text">
                </div>
                <div class="settings">
                    <label for=""></label>
                    <input type="text">
                </div>
                <div class="settings">
                    <label for=""></label>
                    <input type="text">
                </div>
            </div>
            <div class="seting_box">
                <h3>AUdio:</h3>
                <div class="settings">
                    <label for=""></label>
                    <input type="text">
                </div>
                <div class="settings">
                    <label for=""></label>
                    <input type="text">
                </div>
                <div class="settings">
                    <label for=""></label>
                    <input type="text">
                </div>
            </div>
            <div class="seting_box">
                <h3>GSR:</h3>
                <div class="settings">
                    <label for=""></label>
                    <input type="text">
                </div>
                <div class="settings">
                    <label for=""></label>
                    <input type="text">
                </div>
                <div class="settings">
                    <label for=""></label>
                    <input type="text">
                </div>
            </div>
         
        </div>
        <div id="rig_data_box" v-else-if="pageContent == 'data'">
            <div id="counter">
                <h2>Data Collected:</h2>
                <div class="counter_box images_counter">
                    <span>Images:</span>
                    <span>00</span>
                </div>
                <div class="counter_box audio_counter">
                    <span>Audio:</span>
                    <span>00</span>
                </div>
                <div class="counter_box audio_counter">
                    <span>GSR:</span>
                    <span>00h:00min</span>
                </div>
            </div>
            <div id="data">
                <div class="text_box_1" >
                    <span>Text from audio:</span>
                    <div>
                        <div id="audio_text">
                            <div>
                                <span class="timestamp">Time: 2023.15.11 23:32 - 2023.15.11 23:42</span>
                                <li><span>speaker_0:</span> Fascinating , uh , conversely , what sorts of openers , um , do you think , establish the best rapport and , um , you know , be never .</li>
                                <li><span>speaker_1:</span> And I don't recall ever quote unquote cashing in on any of that . But he was exactly right . When I eventually decided to move institutions , we've given away so much .</li>
                                <li><span>speaker_0:</span> Yes.</li>
                                <li><span>speaker_1:</span> Fascinating , uh , conversely , what sorts of openers , um , do you think , establish the best rapport and , um , you know , be never .</li>
                                <li><span>speaker_0:</span> And I don't recall ever quote unquote cashing in on any of that . But he was exactly right . When I eventually decided to move institutions , we've given away so much .</li>
                                <li class="audio_text_emotion"><span>Text Emotion: </span>Relaxing</li>
                            </div>
                            <div>
                                <span class="timestamp">Time: 2023.15.11 23:42 - 2023.15.11 23:52</span>
                                <li><span>speaker_0:</span> Fascinating , uh , conversely , what sorts of openers , um , do you think , establish the best rapport and , um , you know , be never .</li>
                                <li><span>speaker_1:</span> And I don't recall ever quote unquote cashing in on any of that . But he was exactly right . When I eventually decided to move institutions , we've given away so much .</li>
                                <li><span>speaker_0:</span> Yes.</li>
                                <li><span>speaker_1:</span> Fascinating , uh , conversely , what sorts of openers , um , do you think , establish the best rapport and , um , you know , be never .</li>
                                <li><span>speaker_0:</span> And I don't recall ever quote unquote cashing in on any of that . But he was exactly right . When I eventually decided to move institutions , we've given away so much .</li>
                                <li class="audio_text_emotion"><span>Text Emotion: </span>Stress</li>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text_box_2" >
                    <span>Text from image:</span>
                    <div id="image_text"></div>
                </div>
            </div>
            <div id="gsr_box">
                <div id="gsrGraph"></div>
                <div id="gsr_emotions">
                    <div id="history">
                        <ul>
                            <li>Relaxing State</li>
                            <li>Stress State</li>
                            <li>Stress State</li>
                        </ul>
                    </div>
                    <div id="current">Stress State</div>
                </div>
            </div>
            
           
        </div>
    </div>

    <script type="module" src="./script/index.js"></script>
</body>
</html>